extends ./layout


block section-head-title
    a(href='#/') Добро пожаловать в магазин


append section-body
    .store--server
        h3.store--server-title Магазин на сервере «{{store.server.title}}»
        .server--items
            style.
                .item {

                }
            .item(ng-repeat='item in store.server.items', ng-controller='StoreServerItemCtrl'): .row
                .col-12.col-sm-8.col-lg-8
                    +ItemImage()
                    +ItemTitle()
                        a(href='', ng-click="showItemDetails()").title {{item.titleRu}}
                        a(href='', ng-click="showItemDetails()").subtitle ({{item.titleEn}})
                        br
                        +ItemTitleDetails()
                .col-12.col-sm-4.col-lg-4
                    +ItemPrice()


append dialog
    .item-dialog(ng-if="dialog.overlay", ng-controller="StoreServerItemDetailsCtrl")
        .row: .col-12.dialog--head.info(ng-class="{'primary':'none'==orderState}")
            i.icon-share-alt
            span  Предмет в продаже

        .row: .col-12.dialog-body(ng-if="'done'==orderState")
            .row: .col-12.col-sm-12.col-lg-10.col-offset-1
                h1.dialog-title Спасибо за покупку

        .row: .col-12.dialog-body(ng-if="'none'==orderState||'pending'==orderState")

            .row: .col-12.col-sm-12.col-lg-10.col-offset-1
                .item(ng-controller='StoreServerItemCtrl'): .row
                    .col-12.col-sm-8.col-lg-8
                        +ItemImage()
                        +ItemTitle()
                    .col-12.col-sm-4.col-lg-4
                        +ItemPrice()

            .row(ng-if="item.enchantability"): .col-12.col-sm-12.col-lg-10.col-offset-1
                .item--enchantments Добавить чары: 
                    select.item--enchantments-select(ng-model='enchant', ng-options='e.titleRu for e in store.server.enchantments | filter:restrict(item)')
                    button.item--enchantments-selected-add(ng-click='addEnchantment(enchant)') Зачаровать
                    .item--enchantment(ng-repeat='ench in item.enchantments', ng-controller='StoreServerItemDetailsEnchCtrl')
                        .enchantment--title {{ench.titleRu}} {{ench|EnchantmentLevel}}
                            span.subtitle ({{ench.titleEn}} {{ench|EnchantmentLevel}})
                            span.pull-right
                                a.enchantment--action-rem(ng-if='ench.removable', ng-click='remEnchantment(ench, price)')
                                    i.icon-remove
                                span(title="{{xp}}") {{price | currency:'₨'}}
                        input.enchantment--level(type='range', min="0", max="{{levelMax}}", ng-model="level", title="{{level}}")

            .row: .col-12.col-sm-12.col-lg-10.col-offset-1
                .dialog-actions
                    button.btn.pull-right(ng-click='order(item)', ng-disabled="'pending'==orderState") Купить {{item.amount}} шт. за {{item.price | currency:'₨'}}



mixin ItemImage
    img.item--image(width='50', height='50', ng-src='{{item.imageUrl}}')


mixin ItemTitle
    span.item--title
        if !block
            span.title {{item.titleRu}}
            span.subtitle ({{item.titleEn}})
            br
            +ItemTitleDetails()
        else
            block


mixin ItemTitleDetails
    span.item--details
        if !block
            span.details--label №:
                strong.details--value {{item.material}}
        else
            block


mixin ItemPrice
    span.item--title(style='display:block; text-align:right;') {{item.price | currency:'₨'}}
        br
        +ItemPriceDetails()


mixin ItemPriceDetails
    span.item--details
        span.details--label за
            strong {{item.amount}} шт