extends ./layout


block section-head-title
    a(href='#/') Добро пожаловать в магазин


append section-body
    .store--server
        h3.store--server-title.pull-left Магазин на сервере «{{store.server.title}}»
        .server--items
            table.table.items
                tbody
                    tr(ng-repeat='item in store.server.items', ng-controller='StoreServerItemCtrl')

                        td.t-col
                            img.item--image(width='32', height='32', ng-src='{{item.imageUrl}}')

                        td.t-col.col-flex
                            a.link-primary.item--title(ng-click='showItemDetails()') {{item.titleRu}}

                        td.t-col
                            b.item--price {{item.price | currency:'₨'}}

                        td.t-col
                            .input-group
                                input.input.input-primary.item--input.item--amount(ng-model='amount', name='amount', type='text', min='1', max='99999', ng-pattern='/^[0-9]{1,5}$/', required, autocomplete='off')
                                button.btn.btn-primary.item--btn(ng-click='buyItem(item)') +



append dialog
    .enchantments(ng-if="dialog.overlay", ng-controller="StoreServerItemDetailsCtrl")
        .row: .col-12.dialog-head
            i.icon-share-alt
            span  Предмет в продаже

        .row: .col-12.dialog-body

            .row: .col-12.col-sm-12.col-lg-8.col-offset-2: .row
                .col-12.col-sm-8.col-lg-8
                    h2.dialog-title.item
                        strong.item--title {{item.titleRu}}
                            span.subtitle ({{item.titleEn}})
                            br
                            img.item--image(width='50', height='50', ng-src='{{item.imageUrl}}')
                            span.item--subtitle Айди:
                                strong {{item.material}}
                .col-12.col-sm-4.col-lg-4
                    h2.dialog-title.item
                        strong.item--title(style='display:block; text-align:right;') {{item.price | currency:'₨'}}
                            br
                            span.item--subtitle: span 1 шт
                hr

            .row(ng-if="item.enchantability"): .col-12.col-sm-12.col-lg-8.col-offset-2
                .item--enchantments Добавить чары: 
                    select.item--enchantments-select(ng-model='enchant', ng-options='e.titleRu for e in store.server.enchantments | filter:restrict(item)')
                    button.item--enchantments-selected-add(ng-click='addEnchantment(enchant)') Зачаровать
                    .item--enchantment(ng-repeat='ench in item.enchantments', ng-controller='StoreServerItemDetailsEnchCtrl')
                        .enchantment--title {{ench.titleRu}} {{ench|EnchantmentLevel}}
                            span.subtitle ({{ench.titleEn}} {{ench|EnchantmentLevel}})
                            span.pull-right
                                a.enchantment--action-rem(ng-if='ench.removable', ng-click='remEnchantment(ench, price)')
                                    i.icon-remove
                                span(title="{{xp}}") {{price | currency:'₨'}}
                        input.enchantment--level(type='range', min="0", max="{{levelMax}}", ng-model="ench.level", title="{{ench.level}}")
                hr

            .row: .col-12.col-sm-12.col-lg-8.col-offset-2
                button.btn.pull-right(ng-click='order(item)') Купить за {{item.price | currency:'₨'}}
