extends ./layout



append header

    .navbar.navbar-inverse.navbar-static-top
        .container
            a.navbar-brand(href='./')
                span STREAMCRAFT 2
            .nav-collapse.collapse
                ul.nav.navbar-nav
                ul.nav.navbar-nav.pull-right
                    li: a(href='', ng-click="showLoginDialog()") Вход
                    li: a(href='#/registration') Регистрация
