extends ./layout


append head-scripts

    include includes/login.coffee


append header

    .navbar.navbar-inverse.navbar-static-top
        .container
            a.navbar-brand(href='./')
                span STREAMCRAFT 2
            .nav-collapse.collapse
                ul.nav.navbar-nav
                ul.nav.navbar-nav.pull-right
                    li: a(href='', ng-click='showDialog()') Контрольно-пропускной пункт


append view-outer

    script(type='text/ng-template', id='partials/'): include partials/login/index
