extends ../layout


append head-scripts
    include includes/Welcome.coffee


append dialog-container
    section(ng-if="'signin'==dialog.overlay"): include partials/signin/dialog/index
    section(ng-if="'signup'==dialog.overlay"): include partials/signup/dialog/index

append view-outer
    .view--body: block view-body
        script(src='//vk.com/js/api/openapi.js?100')
        #vk
        script.
            VK.Widgets.Group('vk', {mode: 2, wide: 1, width: '960', height: '400'}, 30115234)
