.row: .col-12.dialog--head(ng-class="{'info':'busy'!=dialog.state}")
    i.icon-signin
    span  Вход с паролем

.row: .col-12.dialog--body

    .row: .col-8.col-offset-2
        h2.dialog--title Представьтесь, пожалуйста

    .row: .col-8.col-offset-2

        form.form-large(name='signinForm', ng-controller='SigninDialogCtrl').dialog-form
            input.input(type='text', name='username', placeholder='Пользователь', required, ng-model='player.name')
            input.input(type='password', name='password', placeholder='Пароль', required, ng-model='player.pass')

            .form-actions
                button.btn(type='submit', ng-click='signin(player)', ng-disabled="!signinForm.$valid || 'busy'==dialog.state")
                    i.icon-signin
                    span  Представиться
