extends ../layout



block section--head--title
    a(href='#/storage')
        span.visible-inline-sm Склад
        span.visible-inline-lg Добро пожаловать на склад



append section--head--nav-main--row

    ul.nav.nav-row
        li(ng-repeat='srv in servers', ng-class='{active:srv.id==server.id}')
            a(ng-href='#/storage/{{srv.name}}') {{srv.title}}



block section--body

    .col-12.col-sm-3.col-lg-3: block section--side

    .col-12.col-sm-9.col-lg-9: block section--main





mixin ItemPrice
    span.item--title(style='display:block; text-align:right;', title="{{item.createdAt | date}}") {{item.amount}} Шт.
        br
