extends ./layout


append header

  .navbar.navbar-inverse.navbar-static-top
    .container
      .row
        .col-12
          a.navbar-brand(href='./')
            span STREAMCRAFT

          ul.nav.navbar-nav

            li(ng-class="{'active':'store'==route}")
                a(ng-href='#/store/{{server.name}}') Магазин

            li(ng-class="{'active':'storage'==route}")
                a(ng-href='#/storage/{{server.name}}') Склад

          ul.nav.navbar-nav.pull-right
            li(ng-if="player.$resolved", ng-class="{'active':'player'==route}").dropdown
                a#playerDropdown(href='#/player', data-toggle='dropdown', data-target='#', onclick="return false") {{player.name}} 
                    b.caret
                ul.dropdown-menu
                    li: a(href='#/player') Личный кабинет
                    li: a(href='', ng-click='logout()') Выход
