mixin ItemImage
    img.item--image(width='50', height='50', ng-src='{{item.imageUrl}}')


mixin ItemTitle
    span.item--title
        if !block
            span.title {{item.titleRu}}
            span.subtitle ({{item.titleEn}})
            br
            +ItemTitleDetails()
        else
            block


mixin ItemTitleDetails
    span.item--details
        if !block
            span.details--label №:
                strong.details--value {{item.material}}
        else
            block


mixin ItemPrice
    span.item--title(style='display:block; text-align:right;')
        if !block
            span.price {{item.price | currency:'₨'}}
            br
            +ItemPriceDetails()
        else
            block


mixin ItemPriceDetails
    span.item--details
        span.details--label за
            strong {{item.amount}} шт




block view

    block view-ready
        .view-inner.view-inner-ready(ng-if='"ready"==state'): block section

            .container: block section-container

                .row
                    .col-12.section-head
                        block section-head

                            h1.section-head-title
                                block section-head-title

                            nav.section-head-nav
                                block section-head-nav

                            nav.section-head-nav.pull-right
                                ul.nav.nav-row
                                    li
                                        a(href='', ng-click="showPlayerPaymentDialog()") {{player.balance | currency:'₨'}}

                .row
                    .col-12.col-sm-12.col-lg-3
                        block section-side

                    .col-12.col-sm-12.col-lg-9
                        block section-body

            .dialog(ng-if="view.dialog.overlay")
                .dialog-bg(ng-click='hideViewDialog()')
                .container: .row: .col-12.dialog-container: block dialog
            .dialog-overlay(ng-if="view.dialog.overlay")

    block view-error
        .view-inner.view-inner-error(ng-if='"error"==state'): block error
            .view--section
                .container
                    .row: .col-12
                        hgroup.view--title-group
                            h1.view--title {{error.status}} {{error.data.name}}
                            h2.view--title {{error.data.message}}
