section.view-inner.view-inner-ready(ng-if='"ready"==state'): block section

    .container: block section-container

        .row
            .col-12.section-head
                block section-head

                    h1.section-head-title
                        block section-head-title

                    nav.section-head-nav
                        block section-head-nav

                    nav.section-head-nav.pull-right
                        ul.nav.nav-row
                            li
                                a(href='#/player/donate') Карма: {{player.balance}}

        .row
            .col-12.col-sm-12.col-lg-3
                block section-side

            .col-12.col-sm-12.col-lg-9
                block section-body

    .dialog(ng-if='dialog.overlay')
        .dialog-bg(ng-click='hideDialog()')
        .container: .row: .col-12.dialog-container: block dialog
    .dialog-overlay(ng-if='dialog.overlay')


section.view-inner.view-inner-error(ng-if='"error"==state'): block error
    .container
        .row
            .col-12 Ошибка! {{error}}
