html {
  background:#563d7c;
  background-image:none;
}
.navbar {
  background-color:#563d7c;
	border-bottom: 1px solid #463265;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

.player--payment-title {
    font-weight: 700;
}
