extends ../layout


append section--side
    ul.nav.nav-list
        li(ng-class="{active:!search.q}", ng-click="searchClear()"): a(ng-href="#/store/{{server.name}}") Предметы в продаже
        li.nav-list--sep
        li: a(ng-href="#/store/{{server.name}}/dialy") Предмет дня

        li.nav-list--header Предметы по типам
        li: a(ng-href="#/store/{{server.name}}/blocks") Блоки
        li: a(ng-href="#/store/{{server.name}}/materials") Материалы

        li.nav-list--header Предметы по тегам
    ul.nav.nav-list.nav-tags(nav-tags="tags")



append section--main
    .store--server

        .store--server--items-search
            .input-rich
                input.input(placeholder='Поиск предметов', ng-model="search.q", required)
                a.input-action(ng-show="!!search.q", ng-click="searchClear()"): i.icon-remove

        .server--items
            .item(ng-repeat="item in items | filter:search", ng-controller="StoreServerItemCtrl"): .row
                .col-12.col-sm-8.col-lg-8
                    +ItemImage()
                    +ItemTitle()
                        a(href='', ng-click="showItemDetails()").title {{item.titleRu}}
                        a(href='', ng-click="showItemDetails()").subtitle ({{item.titleEn}})
                        br
                        +ItemTitleDetails()
                .col-12.col-sm-4.col-lg-4
                    +ItemPrice()



append dialog
    .item-dialog(ng-if="'item'==view.dialog.overlay", ng-controller="StoreServerItemDetailsCtrl", ng-init="item=view.dialog.item")
        .row: .col-12.dialog--head.info(ng-class="{'primary':'none'==orderState}")
            i.icon-share-alt
            span  Предмет в продаже {{item.id}}

        .row: .col-12.dialog--body(ng-if="'done'==orderState")
            .row: .col-12.col-sm-12.col-lg-10.col-offset-1
                h1.dialog-title: a(ng-href="#/storage/{{server.name}}") Спасибо за покупку

        .row: .col-12.dialog--body(ng-if="'none'==orderState||'pending'==orderState")

            .row: .col-12.col-sm-12.col-lg-10.col-offset-1
                .item(ng-controller='StoreServerItemCtrl'): .row
                    .col-12.col-sm-8.col-lg-8
                        +ItemImage()
                        +ItemTitle()
                    .col-12.col-sm-4.col-lg-4
                        +ItemPrice()

            .row(ng-if="item.enchantability"): .col-12.col-sm-12.col-lg-10.col-offset-1
                .item--enchantments Добавить чары: 
                    select.item--enchantments-select(ng-model='enchant', ng-options='e.titleRu for e in store.enchantments | filter:restrict(item)')
                    button.item--enchantments-selected-add(ng-click='addEnchantment(enchant)') Зачаровать
                    .item--enchantment(ng-repeat='ench in item.enchantments', ng-controller='StoreServerItemDetailsEnchCtrl')
                        .enchantment--title {{ench.titleRu}} {{ench|EnchantmentLevel}}
                            span.subtitle ({{ench.titleEn}} {{ench|EnchantmentLevel}})
                            span.pull-right
                                a.enchantment--action-rem(ng-if='ench.removable', ng-click='remEnchantment(ench, price)')
                                    i.icon-remove
                                span(title="{{xp}}") {{price | currency:'₨'}}
                        input.enchantment--level(type='range', min="0", max="{{levelMax}}", ng-model="level", title="{{level}}")

            .row: .col-12.col-sm-12.col-lg-10.col-offset-1
                .dialog-actions
                    button.btn.btn-primary.pull-right(ng-click='order(item)', ng-disabled="'pending'==orderState") Купить {{item.amount}} шт. за {{item.price | currency:'₨'}}
