style.
    .view--section {
        height: 50%;
        position: absolute; top: 25%; right: 0; bottom: auto; left: 0;
        padding-top: 50px;
    }
    .view--body {
        width: 100%;
        position: absolute; top: 100%;
        background: #fff;
    }
    .view--title-group {
        color: #FEFEFE;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    }
    h1.view--title {
        font-size: 80px;
        margin-left: -0.05em;
    }
    h2.view--title {
        font-size: 30px; font-weight: 300;
        margin-left: -0.05em;
        color: #CDBFE3;
    }
.view-inner(ng-if="'ready'==state")
    section.view--section: block section
        .container
            .row: .col-12
                hgroup.view--title-group
                    h1.view--title Streamcraft
                        sup 2
                    h2.view--title Закрытое бета-тестирование. Скоро открытие.
                    button.btn(ng-click="showSignupDialog()") Подписаться на бета-тест.
