extends ../layout



block section--head--title
    a(href='#/player') Добро пожаловать, {{player.name}}



prepend section--head--nav-side--row
    li.active: a(href='#/player/payments') Донат
