extends ../layout

block section-head-title

    block section-head-title--index
        a(href='#/player') Добро пожаловать, {{player.name}}

    span ← 

    block section-head-title--payments
        a(href='#/player/payments') Пожертвования