extends ../layout



block section--head--title
    a(href='#/store')
        span.visible-inline-sm Магазин
        span.visible-inline-lg Добро пожаловать в магазин



append section--head--nav-main--row

    ul.nav.nav-row
        li(ng-repeat='srv in servers', ng-class='{active:srv.id==server.id}')
            a(ng-href='#/store/{{srv.name}}') {{srv.title}}



block section--body

    .col-12.col-sm-3.col-lg-3: block section--side

    .col-12.col-sm-9.col-lg-9: block section--main





mixin ItemImage
    img.item--image(width='50', height='50', ng-src='{{item.imageUrl}}')


mixin ItemTitle
    span.item--title
        if !block
            span.title {{item.titleRu}}
            span.subtitle ({{item.titleEn}})
            br
            +ItemTitleDetails()
        else
            block


mixin ItemTitleDetails
    span.item--details
        if !block
            span.details--label №:
                strong.details--value {{item.material}}
        else
            block


mixin ItemPrice
    span.item--title(style='display:block; text-align:right;')
        if !block
            span.price {{item.price | currency:'₨'}}
            br
            +ItemPriceDetails()
        else
            block


mixin ItemPriceDetails
    span.item--details
        span.details--label за
            strong {{item.amount}} шт
