extends ../layout



append section--main
    .storage--server

        .server--items
            .item(ng-repeat='item in storage.items', ng-controller='StoreServerItemCtrl'): .row
                .col-12.col-sm-8.col-lg-8
                    +ItemImage()
                    +ItemTitle()
                        a(href='', ng-click="showItemDetails()").title {{item.titleRu}}
                        a(href='', ng-click="showItemDetails()").subtitle ({{item.titleEn}})
                        br
                        +ItemTitleDetails()
                .col-12.col-sm-4.col-lg-4
                    +ItemPrice()
                        span.amount {{item.amount}} шт.
