extends ./layout



block section--head--title
    span.visible-inline-sm {{player.name}}
    span.visible-inline-lg Добро пожаловать, {{player.name}}



prepend section--head--nav-side--row
    li: a(href='#/player/payments') Донат



block section--body

    .col-12.col-sm-3.col-lg-3.col-push-9

        .player--img(ng-if="draw2d") 2D
        .player--img-three(ng-if="draw3d")
            .player--img-three--head(style="-webkit-transform: rotateX({{rX||0}}deg) rotateY({{rY||0}}deg)")
                .player--img-three--head--front: .three--face(b-three-face="{url:'/mario.png', top:8, left:8, width:8, height:8, scale:16}")
                .player--img-three--head--left: .three--face(b-three-face="{url:'/mario.png', top:8, left:16, width:8, height:8, scale:16}")
                .player--img-three--head--back: .three--face(b-three-face="{url:'/mario.png', top:8, left:24, width:8, height:8, scale:16}")
                .player--img-three--head--right: .three--face(b-three-face="{url:'/mario.png', top:8, left:0, width:8, height:8, scale:16}")
                .player--img-three--head--top: .three--face(b-three-face="{url:'/mario.png', top:0, left:8, width:8, height:8, scale:16}")
                .player--img-three--head--bot: .three--face(b-three-face="{url:'/mario.png', top:0, left:16, width:8, height:8, scale:16}")

                .player--img-three--hat--front.three--node: .three--face(b-three-face="{url:'/mario.png', top:8, left:40, width:8, height:8, scale:18}")
                .player--img-three--hat--left.three--node: .three--face(b-three-face="{url:'/mario.png', top:8, left:48, width:8, height:8, scale:18}")
                .player--img-three--hat--back.three--node: .three--face(b-three-face="{url:'/mario.png', top:8, left:56, width:8, height:8, scale:18}")
                .player--img-three--hat--right.three--node: .three--face(b-three-face="{url:'/mario.png', top:8, left:32, width:8, height:8, scale:18}")
                .player--img-three--hat--top.three--node: .three--face(b-three-face="{url:'/mario.png', top:0, left:40, width:8, height:8, scale:18}")
                .player--img-three--hat--bot.three--node: .three--face.three--face-shadow

        .player--menu: block player--menu
            style.
                .ani {
                    margin-right: -15px;
                    text-align: right;
                }
            .ani
                a.btn.btn-link(href='', ng-click="yes()") Да
                a.btn.btn-link(href='', ng-click="no()") Нет

    .col-12.col-sm-9.col-lg-9.col-pull-3
        .row
            .col-12.player--header
                .player--pex
                    b.player--pex-title.btn-box(b-player-pex="player.pex", content=":-)", ng-click="changePlayerColor()")
                    a.player--pex-btn.btn.btn-link.btn-lg(ng-click="showPexDialog()") ← поменять цвет
                    a.player--pex-btn.btn.btn-link.btn-lg.pull-right(ng-click="showPexDialog()") поменять скин →

                .player--subscription
                    -//b.player--subscription-title.btn-box(title="Разрешения: {{player.pex.groups}}") {{player.subscription}} Обычный игрок
                    -//a.player--pex-btn.btn.btn-link(ng-click="showPexDialog()") ← повысить полномочия



append dialog
    .pex-dialog(ng-if="'pex'==view.dialog.overlay", ng-controller="PlayerPexDialogCtrl")
        .row: .col-12.dialog--head(ng-class="{'primary':'none'==view.dialog.state}")
            i.icon-adjust
            span  Цвет персонажа в игре

        .row: .col-12.dialog--body
            form.form-small(name='form')

                .row: .col-12.col-sm-12.col-lg-10.col-offset-1

                    h2.dialog--title
                        b(b-player-pex="player.pex", content="текст сообщения в чате...")

                    fieldset
                        .row
                            .col-4
                                label.input-label Приставка
                            .col-8
                                input.input.input-small(name='prefixTitle', ng-model="pex.prefixTitle", ng-pattern="/[0-9A-Za-z]/")
                        .row
                            .col-4
                                label.input-label Цвет приставки
                            .col-8
                                style.
                                    .input-thumbnails {
                                        display: block;
                                        width: 100%;
                                    } .input-thumbnails--inner {
                                        margin-right: -5px;
                                    }
                                    .input-thumbnails .input-thumbnail {
                                        display: block; float: left;
                                        width: 12.5%;
                                        padding: 0 5px 5px 0;
                                    }
                                    .input-thumbnails .input {
                                        margin: 0;
                                        padding: 4px;
                                    }
                                    .input-thumbnails .input-radio:not(:first-child) {
                                    }
                                    .input-thumbnails .input-radio.input-small {
                                    }
                                    .input-radio--btn {
                                        width: 100%; height: 15px;
                                        opacity: .15;
                                    }   .input-radio.ng-valid .input-radio--btn,
                                        .input-radio:hover .input-radio--btn {
                                            opacity: 1;
                                        }
                                    fieldset {
                                        margin: 0;
                                        padding: 14px 0 10px;
                                        border-top: 1px solid #EEE;
                                    }
                                    .dialog--title {
                                        margin: 0;
                                        margin-bottom: 50px;
                                    }
                                    .dialog--acts {
                                        padding-top: 35px;
                                    }
                                .input-thumbnails: .input-thumbnails--inner
                                    .input-thumbnail(ng-repeat="c in colors")
                                        .input.input-radio.input-small(ng-click="selectPrefixColor(c)", ng-class="{'ng-valid':c.token==pex.prefixColor}")
                                            .input-radio--btn(style="background:{{c.hex}};")
                                    .clearfix
                    fieldset
                        .row
                            .col-4
                                label.input-label Цвет ника
                            .col-8
                                .input-thumbnails: .input-thumbnails--inner
                                    .input-thumbnail(ng-repeat="c in colors")
                                        .input.input-radio.input-small(ng-click="selectPlayerColor(c)", ng-class="{'ng-valid':c.token==pex.playerColor}")
                                            .input-radio--btn(style="background:{{c.hex}};")
                                    .clearfix

                    fieldset
                        .row
                            .col-4
                                label.input-label Цвет чата
                            .col-8
                                .input-thumbnails: .input-thumbnails--inner
                                    .input-thumbnail(ng-repeat="c in colors")
                                        .input.input-radio.input-small(ng-click="selectSuffixColor(c)", ng-class="{'ng-valid':c.token==pex.suffixColor}")
                                            .input-radio--btn(style="background:{{c.hex}};")
                                    .clearfix

                .row: .col-12.col-sm-12.col-lg-10.col-offset-1
                    .dialog--acts
                        button.btn.btn-primary.pull-right(ng-click="save(pex)", ng-disabled="form.prefixTitle.$invalid || view.dialog.state=='busy'")
                            i.icon-adjust
                            span  Сохранить настройки цвета
